* {
    box-sizing:border-box;
}

html {
    font-family: "Lucinda Sans", sans-serif;
}

.tabel{
	border-collapse: collapse;
	width: 100%;
}
.tabel td, .tabel th{
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 80%;
	text-align:center;
}
.tabel tr:nth-child(even){
	background-color: #f2f2f2;
}
.tabel tr:hover{
	background-color: #ddd;
}


